 /*
	Theme Name: Starter Theme
	Theme URI: https://socreativ.com
	Description: Sõcreativ' WordPress Starter Theme
	Version: 1.0.0
	Author: Team Sõcreativ (@socreativ)
	Author URI: https://socreativ.com
	Tags: CSS

	License: All Rights Reserved
*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
html {
	font-size:100%!important;
}
body {
	color:#444;
    font-family: 'Open Sans', sans-serif;
}
 /*------------------------------------*\
	 GLOBAL
 \*------------------------------------*/
/* clearfix */
.clearfix:before,
.clearfix:after {
    content:' ';
    display:table;
}

.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
#outdated {
	position: fixed;
    width: 40%;
    padding: 1em;
    background: rgb(19, 19, 19);
    bottom: 45px;
    z-index: 999999;
    left: 35px;
    color: #FFF;
    text-align: left;
    border-top: 3px solid #4977c2;
	opacity: 0;
}

#outdated h6{
	color: white;
	font-size: 20px;
}

#outdated .maj{
	color: white;
	padding: 5px;
	border: 2px solid #4977c2;
	float: left;
}

#outdated #btnCloseUpdateBrowser {
	color: white;
	font-size: 20px;
	float: right;
}

#btnCloseUpdateBrowser {
	cursor: pointer;
}

.closediv {
	height: 20px;
	width: 20px;
	z-index: 20;
}
/* Galerie 1 */
.page-template-template-galerie .container img {
	border: none !important;
	width: : 100%;
	max-width: 100%;
	height: auto;
	padding: 0;
}

.page-template-default .container-fluid {
	padding: 0 !important;
}

.page-template-template-galerie .galerie_container img {
	border: 10px solid #fff!important;
}

/* SOUS LE COUDE */

/*.item_galerie {
	height: 400px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}*/

.item_galerie {
	height: 380px;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
	padding: 0;
}
.inline-block{display: inline-block!important;}

.galerie_container img {
	width: 100%
}
/* Galerie 2*/
.page-template-template-galerie2 .galerie_container img {
   /* border: 15px solid #fff!important; */
}
.page-template-template-galerie2 .galerie_container  div{
    overflow: hidden;
}
.page-template-template-galerie2 .galerie_container img{
    border: solid 12.5px #FFF;
    height: 100%;
    object-fit: cover;
}

a {
	color:#444;
	text-decoration:none;
    -webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}
a:focus {
    outline: 0;
    text-decoration: initial;
}
input:focus {
	outline:0;
	border:1px solid #E6E6E6;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}
:focus {
    outline: none;
    text-decoration: initial;
}
a:hover,
a:active {
	outline:0;
	text-decoration: none;
    color: #fff;
}
input, textarea {
    padding: 10px;
    border: 1px solid #DDD;
    background: rgba(255,255,255,.5);
}

select {
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 0px!important;
    -webkit-appearance: button;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    overflow: hidden;
    padding: 7px 35px 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right center;
  }
ul {
    padding:0;
}
.custom-list li {list-style-type: none;}
.custom-list li:before {
	content: "☺";
}
.anim-300, .anim-300 a {
    -webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}
.anim-500, .anim-500 a {
    -webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-ms-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	transition:all 500ms ease-in-out;
}
.table{display: table;}

.flex { display:flex;
		display: -webkit-flex;
		}
.col-reverse{
	flex-direction: row-reverse;
}
 .vertical-center {
	 display: flex;
	 display: -webkit-flex;
	 align-items: center;
	 height: 100%;
	 padding: 0;
 }
 .text-justify{text-align: justify;}

 .no-padding{
 	padding: 0!important;
 	padding-left: 0!important;
	padding-right: 0!important;}
 .no-padding-left{padding-left: 0!important;}
 .no-padding-right{padding-right: 0!important;}

 /* wrapper */
.wrapper {
}
.nav ul {
    list-style:none;
    margin-bottom: 0;
}
.error404 article {
    padding-top:25vh;
}
.text-white{color: #FFF;}
.text-pink, .text-pink a {color: #b55d85!important;}
.text-black{color: #201f27;}
.text-blue{color: #679dec;}
.text-grey{color: #aca6a2;}
.text-orange{color: #FF8B00;}

.btn-orange{
    background: #FF8B00;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    border: 1px solid rgba(255,255,255,0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-orange:hover {
    color: #fff;
    border: 1px solid rgba(255,255,255,1);
}

.uppercase{text-transform: uppercase;}

.bold{font-weight: bold!important;}

.fs-12{font-size: 12px!important;}
.fs-13{font-size: 13px!important;}
.fs-14{font-size: 14px!important;}
.fs-15{font-size: 15px!important;}
.fs-16{font-size: 16px!important;}
.fs-17{font-size: 17px!important;}
.fs-18{font-size: 18px!important;}
.fs-19{font-size: 19px!important;}
.fs-20{font-size: 20px!important;}
.fs-22{font-size: 22px!important;}
.fs-24{font-size: 24px!important;}
.fs-28{font-size: 28px!important;}
.fs-32{font-size: 32px!important;}
.fs-36{font-size: 36px!important;}
.fs-40{font-size: 40px!important;}
.fs-44{font-size: 44px!important;}
.fs-48{font-size: 48px!important;}
.fs-52{font-size: 52px!important;}
.fs-64{font-size: 64px!important;}
.fs-72{font-size: 72px!important;}
.fs-100{font-size: 100px!important;}
.fs-150{font-size: 150px!important;}


.m-0{margin: 0!important;}
.m-auto-0{margin: auto 0;}
.m-0-auto{margin: auto 0;}

.m-t-0{margin-top: 0px!important;}
.m-t-5{margin-top: 5px;}
.m-t-10{margin-top: 10px;}
.m-t-15{margin-top: 15px;}
.m-t-20{margin-top: 20px;}
.m-t-30{margin-top: 30px;}
.m-t-40{margin-top: 40px;}
.m-t-50{margin-top: 50px;}
.m-t-80{margin-top: 80px;}
.m-t-100{margin-top: 100px;}
.m-t-120{margin-top: 120px;}
.m-t-130{margin-top: 130px;}
.m-t-140{margin-top: 140px;}
.m-t-150{margin-top: 150px;}
.m-t-250{margin-top: 250px;}
.m-t-350{margin-top: 350px;}

.m-b-5{margin-bottom: 5px;}
.m-b-10{margin-bottom: 10px;}
.m-b-15{margin-bottom: 15px;}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}
.m-b-40{margin-bottom: 40px;}
.m-b-50{margin-bottom: 50px;}
.m-b-80{margin-bottom: 80px;}
.m-b-100{margin-bottom: 100px;}
.m-b-120{margin-bottom: 120px;}
.m-b-130{margin-bottom: 130px;}
.m-b-140{margin-bottom: 140px;}
.m-b-150{margin-bottom: 150px;}
.m-b-200{margin-bottom: 200px;}
.m-b-350{margin-bottom: 350px;}

.m-t-200-neg{margin-top: -200px;}

.m-l-auto{margin-left: auto;}
.m-l-0{margin-left: 0px!important;}
.m-l-5{margin-left: 5px;}
.m-l-10{margin-left: 10px;}
.m-l-15{margin-left: 15px;}
.m-l-20{margin-left: 20px;}
.m-l-30{margin-left: 30px;}
.m-l-40{margin-left: 40px;}
.m-l-50{margin-left: 50px;}
.m-l-80{margin-left: 80px;}
.m-l-100{margin-left: 100px;}
.m-l-120{margin-left: 120px;}
.m-l-130{margin-left: 130px;}
.m-l-140{margin-left: 140px;}
.m-l-150{margin-left: 150px;}
.m-l-350{margin-left: 350px;}

.m-r-auto{margin-right: auto;}
.m-r-0{margin-right: 0px!important;}
.m-r-5{margin-right: 5px;}
.m-r-10{margin-right: 10px;}
.m-r-15{margin-right: 15px;}
.m-r-20{margin-right: 20px;}
.m-r-30{margin-right: 30px;}
.m-r-40{margin-right: 40px;}
.m-r-50{margin-right: 50px;}
.m-r-80{margin-right: 80px;}
.m-r-100{margin-right: 100px;}
.m-r-120{margin-right: 120px;}
.m-r-130{margin-right: 130px;}
.m-r-140{margin-right: 140px;}
.m-r-150{margin-right: 150px;}
.m-r-350{margin-right: 350px;}


.padding-1em{padding: 1em;}
.padding-2em{padding: 2em;}
.padding-3em{padding: 3em;}
.padding-4em{padding: 4em;}
.padding-5em{padding: 5em;}

.p-0{padding: 0!important;}
.p-5{padding: 5px;}
.p-10{padding: 10px;}
.p-15{padding: 15px;}
.p-20{padding: 20px;}
.p-30{padding: 30px;}
.p-40{padding: 40px;}
.p-50{padding: 50px;}
.p-80{padding: 80px;}
.p-100{padding: 100px;}

.p-b-0{padding-bottom: 0px;}
.p-b-5{padding-bottom: 5px;}
.p-b-10{padding-bottom: 10px;}
.p-b-15{padding-bottom: 15px;}
.p-b-20{padding-bottom: 20px;}
.p-b-30{padding-bottom: 30px;}
.p-b-40{padding-bottom: 40px;}
.p-b-50{padding-bottom: 50px;}
.p-b-60{padding-bottom: 60px;}
.p-b-80{padding-bottom: 80px;}
.p-b-100{padding-bottom: 100px;}

.p-t-0{padding-top: 0px;}
.p-t-5{padding-top: 5px;}
.p-t-10{padding-top: 10px;}
.p-t-15{padding-top: 15px;}
.p-t-20{padding-top: 20px;}
.p-t-30{padding-top: 30px;}
.p-t-40{padding-top: 40px;}
.p-t-50{padding-top: 50px;}
.p-t-60{padding-top: 60px;}
.p-t-80{padding-top: 80px;}
.p-t-100{padding-top: 100px;}

.p-l-0{padding-left: 0px!important;}
.p-l-5{padding-left: 5px;}
.p-l-10{padding-left: 10px;}
.p-l-15{padding-left: 15px;}
.p-l-20{padding-left: 20px;}
.p-l-30{padding-left: 30px;}
.p-l-40{padding-left: 40px;}
.p-l-50{padding-left: 50px;}
.p-l-80{padding-left: 80px;}
.p-l-100{padding-left: 100px;}

.p-r-0{padding-right: 0px!important;}
.p-r-5{padding-right: 5px;}
.p-r-10{padding-right: 10px;}
.p-r-15{padding-right: 15px;}
.p-r-20{padding-right: 20px;}
.p-r-30{padding-right: 30px;}
.p-r-40{padding-right: 40px;}
.p-r-50{padding-right: 50px;}
.p-r-80{padding-right: 80px;}
.p-r-100{padding-right: 100px;}

/*------------------------------------*\
    MODALE
\*------------------------------------*/

.modale-open {
    overflow: hidden;
}

.modale-button {
	cursor: pointer;
}

.modale {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.block{display: block!important;}

.modale-content {
    width: 478px;
    background-color: white;
    border-radius: 5px;
    position:relative;
    left:0; right:0;
    bottom:0;
    margin:auto;
    padding-bottom: 50px;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.remove-modale {
    text-align: right;
    display: block;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

/*------------------------------------*\
    LOADER
\*------------------------------------*/

#page-loader {
	width:100vw!important;
	height:100vh!important;
	background:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	z-index:999999999;
}
.loading-wrapper {
	position:absolute;
	text-align:center;
	width:100vw!important;
	height:100vh!important;
}
img.loader-image {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

/*------------------------------------*\
    CHECK BROWSER
\*------------------------------------*/

#checkBrowser {
    position:relative;
    width:100%;
    background:#ADADAD;
    padding:1em;
}
.browserOk.browserOld, .browserOk { display:none; }
.browserOld { display:block; }

/*------------------------------------*\
  	COOKIES
\*------------------------------------*/

#cookie {
    position:relative;
    width:100%;
    padding:1em;
    background:#B7B7B7;
}

/*------------------------------------*\
    BODY FRAMED
\*------------------------------------*/
body.framed{
    padding:1em;
}
body.framed:before,
body.framed:after{
	content: " ";
	width:100%;
	height:1em;
	position:fixed;
	background-color:#FFF;
	z-index:9999;
	}
body.framed:before { top: 0; left:0; }
body.framed:after { bottom: 0; left:0; }
body.framed div#sneaky-btn { top: 1em; right: 1em; }

/*------------------------------------*\
    HEADER
\*------------------------------------*/

/* burger menu */
#menu-btn:hover{
	cursor: pointer;
}
.nav-mobile {
	background: rgba(0,0,0,.95);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 0;
    overflow-y: scroll;
}
.nav-mobile ul li{
	opacity: 0;
	font-size: 30px;
	line-height: 120px;
	margin-left: 15px;
	text-align:center;
    display: block;
}
.nav-mobile ul li a{
	color: white;
}

button {
  position: relative;
  display: inline-block;
  padding: 0;
  height: 15px;
  width: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;
  margin-left: 10px;
}
button span {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: top 0.2s 0.2s linear, opacity 0.1s 0.2s linear, transform 0.2s linear; }
  button span:nth-child(1) {
    top: 0; }
  button span:nth-child(2) {
    top: 7px;
    width: 70%; }
  button span:nth-child(3) {
    top: 14px; }

button.menu-open span {
  top: 7px;
  background-color: white;
  transition: top 0.2s linear, opacity 0.1s 0.2s linear, transform 0.2s 0.2s linear; }
  button.menu-open span:nth-child(1) {
    transform: rotate(45deg); }
  button.menu-open span:nth-child(2) {
    opacity: 0; }
  button.menu-open span:nth-child(3) {
    transform: rotate(-45deg); }
 li{
    display: none;
}
/* sneaky */

.sneaky {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #FFF;
    text-align: right;
    z-index: 99!important;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}
.sneaky-open .sneaky {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
.sneaky img {
    top: 25px;
    right: 25px;
    position: relative;
    width: 1em;
    cursor: pointer;
}
.sneaky-content {
    width: 100%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
    text-align: justify;
    text-align-last: center;
    position: fixed;
    top: 0;
    left: 0;
    transition-delay: 0ms;
    -webkit-transition-delay: 0ms;
    padding: 0 20vw;
}
.home.sneaky-open .socreaprism {
    position: fixed;
    z-index: -100;
    width: 100%;
}
.responsive  .nav.nav.main-navigation-zone.anim-300 a{
    opacity: 0;
}
body.responsive{
    overflow: hidden;
}

.sneaky-open .sneaky-content {
    width: 100%;
    height: 100%;
    left: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
    text-align-last: center;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}
.sneaky-open .sneaky-content h2 {text-align: center;}
div#sneaky-btn {
    cursor: pointer;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    right: 0;
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent #444 transparent transparent;
}

header{
    display:block;
    position: fixed;
    z-index: 999;
}

/* Top Bar */

div#header-top-container {
    background:#D0D0D0;
    display:block;
    width:100%;
    height:auto;
    padding-top:15px;
    padding-bottom:15px;
}

/* Logo */

.nav-mobile{
	display: none;
}

.main-navigation-zone {
    /*margin-left: auto;*/
}
#header-sticky {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#header-sticky .logo{
    height: 90%;
}
.menu-left{
    width: auto;
}
.menu-right{
    width: auto;
    padding-right: 30px;
}
.menu-section{
    width: auto;
    background-color: #F6A424;
    border-radius: 1px 1px 18px 1px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
}
.responsive .menu-section{
    width: 100%;
}

.logo a {
    padding: 12.5px;
}

#header-sticky .nav ul li {
    display: inline-block;
}

#header-sticky nav a {
    font-size: 15px;
    color: #FFF;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.responsive #header-sticky nav a {
    font-size: 24px;
    color: #FFF;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header-sticky.smaller {
    height: ;
}
#header-sticky nav a:hover, #header-sticky nav a:hover span {
    color: #FFF;
}
#header-sticky .container-logo-menu {
   background-color: #4C4C4C;
   border-radius: 1px 1px 18px 1px;
}
#header-sticky a {
    display: block;
    color: #FFF;
}
#header-sticky img {
    display: inline;
    min-width: 282px;
    max-width: 282px;
}
#header-sticky.smaller nav a {
    font-size: 15px;
}
#header-sticky.smaller .logo{
    margin-top: 0px;
}

#header-sticky.smaller img {
    display: inline;
    height: calc(100% - 15px);
    margin-top: 8px;
}
nav.menu-principal.nav.flex.main-navigation-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*------------------------------------*\
    SUB MENU
\*------------------------------------*/

/* SUB_MENU HEADER_LEFT */
.sub-menu-top-position{
    position: fixed;
    width: 100vw;
    right: 0;
    background: #C7C7C7;

}
.sub-menu{
    display: none;
    margin: 0 auto;
    text-align: right;
}
/* SUB MENU NAV MOBILE */
#menu-nav_mobile .sub-menu-top-position{
    position: relative;
}
/*------------------------------------*\
    MAIN CONTENT
\*------------------------------------*/

main, .main-content {
    min-height: 80vh;
}

.news-container {
	border-right:1px solid #E6E6E6;
}

/* Sidebars */

.right-side-bar {
	/*border-left:1px solid #E6E6E6;*/
}
.left-side-bar {
	border-right:1px solid #E6E6E6;
    height:80vh;
}
.sidebar ul li {
    list-style: none;
}

/* Sidebars Fixed */

.fixed-side-area {
    position:fixed;
    top:0;
    left:0;
    z-index:9999999;
}
.sidebar-right, .sidebar-left{
	min-width:5em;
    min-height:5em;
    top:50%;
    margin-top:-2.5em;
	color:#fff;
}
.sidebar-right{ right:0; }
.sidebar-left{ left:0; }

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.top-page {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
	height: 50px;
	background-color: rgb(228, 228, 228);
	border: solid 4px rgb(214, 214, 214);
	color: black !important;
	font-size: 66px;
	z-index: 9999;
	text-decoration: none;
}

.footer-top {
    width:100%;
    display:block;
    float:left;
    background:#EAEAEA;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.footer-content.sidebar-widget {
    float:left;
    width:100%;
    min-height:10em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer1 {
    background:#D0D0D0;
}

.sub-footer {
    float:left;
    background:#ABABAB;
    width:100%;
	padding:.5em 0;
}
.firm{
	width: 85px;
}

.footer-menus {
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
	text-align: left;
}

.menu {
	text-align: left;
	margin-top: 20px;
}
.footers-menu ul li{
    -moz-column-count:2;
    -webkit-column-count:2;
    -o-column-count:2;
    column-count:2;
    -moz-column-gap:20px;
    -webkit-column-gap:20px;
    -o-column-gap:20px;
    column-gap:20px;
}

.footer-menus ul li {
    padding: 0;
    display: block;
    line-height: 2.3em;
}

.footer-advices {
    margin-top: 24px;
    border-right: 1px solid #6b6b6b;
    font-size: 1.1em;
}

.footer-advices p i {
    margin-right: 5px;
    padding: 0 20px;
    width: 50px;
}

.menu.social {
    text-align: center;
}

.sub-footer {
    padding: 4px 15px;
    margin: 0;
    font-size: 0.7em;
}

.brown {
	background-color: #D0D0D0;
}

.footer-text, .footer-text a {
    text-align: center;
    color: #726f70!important;
}

.w100 {
    width: 100%;
}

.footer3 {
	border-top: 5px solid #EBEBEB;
}

.footer3_text p {
	font-size: 18px;
}

.footer3_sub .textwidget {
	padding: 20px;
	background-color: #EBEBEB;
	font-size: 12px;
}

.footer3_sub {
	background-color: #EBEBEB;
}

.footer-left {
	background-color: #272727;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-color {
	background-color: #3f3f3f;
	height: 100%;
}

.logo-footer {
	max-width: 250px;
}

.trait-after-orange::after {
	content: "";
	display: block;
	height: 2px;
	width: 72px;
	margin-top: 20px;
	background-color: #F5A623;
}

.social-footer i {
	margin-right: 40px;
	text-align: center;
	font-size: 20px;
}

.trait-gris-footer::after {
	content: "";
	display: block;
	height: 2px;
	background-color: #525252;
	margin-top: 20px;
}

.small-trait-orange::after {
	content: "";
	display: block;
	height: 2px;
	background-color: #F5A623;
	margin-top: 5px;
	width: 40px
}

.btn-footer {
	padding: 10px 0px 10px 0px;
	width: 100%;
	background-color: #F5A623;
	color: white;
	border-radius: 7px;
	display: inline-block;
	margin-left: 50%;
    transform: translateX(-50%);
}

.hover-facebook:hover {
	color: #3C5A9A;
}
.hover-twitter:hover {
	color: #4E97D5;
}
.hover-google:hover {
	color: #D6492F;
}

.bg-img-footer {
	background: url(assets/img/logo-footer-conciergerie-location-saisonniere-bordeaux.png);
	background-position: right top;
    background-repeat-x: no-repeat;
	background-size: 30%;
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/

/*** PAGE HOME ****/
.page-template-template-home .recent-post-nav{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}
.page-template-template-home .home-shadow{
    background-size: 100%;
    background: url(assets/img/home-shadow.png);
    background-position: left bottom;
    background-repeat-x: no-repeat;
}
.page-template-template-home h1 span{
    font-weight: 700;
}
.page-template-template-home .slider-title-content p{
    letter-spacing: 1px;
    font-weight: 200;
}
.page-template-template-home .slider-title-content a{
    background-color: #F49706;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
}
.page-template-template-home .slider-title-content a span{
    background-color: #F1AC44;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 20px;
}
.home-service{
    height: 33.333%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.home-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-service a{
    font-weight: 600;
}
.home-shortcuts{
    background: rgba(255,255,255,0.40);
    border-radius: 3px;
    justify-content: bottom;
}
.home2-left{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.home2-right{
    background: rgb(255,147,53); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,147,53,1) 2%, rgba(237,168,2,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,147,53,1) 2%,rgba(237,168,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,147,53,1) 2%,rgba(237,168,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9335', endColorstr='#eda802',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.home2-right h3{
    font-weight: 700;
    line-height: 30px;
}
.home2-right p{
    max-width: 300px;
    text-align: justify;
}
.home2-right a{
    background: #E37600;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 8px 20px;
    letter-spacing: 1px;
}
.home2-oval{
    background: url(assets/img/home2-oval.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.home4-left{
    background: rgb(255,147,53); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,147,53,1) 2%, rgba(237,168,2,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,147,53,1) 2%,rgba(237,168,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,147,53,1) 2%,rgba(237,168,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9335', endColorstr='#eda802',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.home4-left h3 span{
    font-weight: 700;
    line-height: 30px;
}
.home4-left p{
    max-width: 300px;
    text-align: justify;
}
.home4-left a{
    background: #E37600;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 8px 20px;
    letter-spacing: 1px;
}
.home4-right{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.home4-mask{
     background: url(assets/img/home4-mask.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.home5{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.home5 h3::after{
    content: "";
    width: 70px;
    height: 5px;
    background-color: #F6A623;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.home5-actus div{
    height: 150px;
}
.home5-actus h4{
    font-weight: 600;
}
.home5-actus a{
    color: #E37600;
}

/** PAGE REJOIGNEZ **/

.container-fluid.tmplt-rejoignez.p-0{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}
.subtitle-excerpt{
    max-width: 350px!important;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.subtitle-link{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    background-color: rgba(81,81,81,0.50);
    border: 1px solid white;
    color: white;
    border-radius: 7px!important;
}
.subtitle-link:hover{
    background-color: #F79E1E;
    border: 1px solid white;
    color: white;
}

.rejoignez3{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    border-top: solid 1px #fff;
}
.rejoignez3 .avantages-text{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.avantages-title:after{
    content: "";
    width: 75px;
    height: 5px;
    background-color: #F79E1E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/******* PAGE HOME STAGING *******/

.home-staging1{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}
.travaux-sections{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.section-title{
    letter-spacing: 1.5px;
}
.section-title-bkg{
    background-color: #F5A623;
}
.travaux-sections:first-child{
    border-right: solid 2px #FFF;
}
.section-subtitle:after{
    content: '';
    width: 50px;
    height: 5px;
    background-color: #F5A623;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.section-text{
    max-width: 400px;
}
.row.presta-1:nth-child(2n) .presta-D{
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.row.presta-1:nth-child(2n) .presta-D .text-container{
    transform: translateX(-8px);
}
.row.presta-1:nth-child(2n) .presta-D .presta1-title{
    letter-spacing: 0.8px;
    font-weight: 600;
}
.row.presta-1:nth-child(2n) .presta-D .presta1-title:after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: #F5A623;
    display: block;
    margin-top: 15px;
}
.row.presta-1:nth-child(2n) .presta-D .presta1-subtitle{
    letter-spacing: 0.8px;
    font-weight: 600;
}
.row.presta-1:nth-child(2n) .presta-D .presta1-text{
    max-width: 350px;
}
.row.presta-1:nth-child(2n) .presta-D .presta1-link{
    display: inline-block;
}

/********/

.row.presta-1 .presta-C{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.row.presta-1:nth-child(2n+1) .presta-D:before{
    content: '';
    width: 50%;
    height: 5px;
    background-color: #F6A623;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.row.presta-1:nth-child(2n+1) .presta-D{
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-title{
    letter-spacing: 0.8px;
    font-weight: 600;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-title:after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: #F6A623;
    display: block;
    margin-top: 15px;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-subtitle{
    letter-spacing: 0.8px;
    font-weight: 600;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-text{
    max-width: 350px;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-link{
    display: inline-block;
}
.row.presta-1:nth-child(2n+1) .presta-D .presta1-link a{
    color: white;
}
.home-staging4{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    border-top: solid 1px #fff;
}
.home-staging4 .travaux-bottom-text{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.travaux-bottom-title:after{
    content: "";
    width: 75px;
    height: 5px;
    background-color: #F79E1E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.travaux-bottom-lien{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    border: solid 1px #F79E1E;
}

/***** PAGE CONTACT *****/

.tmplt-contact{
    min-height: 85vh!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
/* Contact3 */
.form-contact3{
    margin-top: 150px;
    background: rgba(255,255,255,0.50);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
}
.contact-title{
    background: rgba(255,255,255,0.60);
}
.contact-title h1:after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #F79E1E;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.form-contact3 input{
    padding: 10px;
    border: none;
    background: #FFF;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
}
.form-contact3 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 150px;
    background: #FFF;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
}
.form-contact3 input[type="submit"] {
    padding: 10px 50px;
    border: none;
    background-color: #F5A623!important;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: 'Open-sans' sans-serif;
    font-weight: 600;
}


/* cover-flow.php */

body.page-template-cover-flow{
	overflow-x:hidden;
	overflow-y:scroll;
}
#scroll-area{
	overflow-x:scroll;
}
.items-container{
	min-width:100%;
	position:relative;
}
.items-container .item{
	display:inline-block;
	float:left;
}
.page-template-cover-flow .load-more button{
	width:100%;
}
/*****************************/
/*     Page conciergerie     */
/*****************************/

/*Slide*/
.slide-conciergerie {
    height: auto;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.titre-conciergerie {
	padding-top: 200px;
	margin: 0px;
	font-weight: normal;
}

.description-slide-conciergerie {
	width: 320px;
	margin: 0 auto;
	    margin-bottom: 40px;
}

.container-lien-btn {
	width: 800px;
	height: 250px;;
	margin: 0 auto;
}

.container-lien-btn a {
	color: white!important;
}

.btn-slide-conciergerie {
	width: 45%;
	padding: 10px 0px 10px 0px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	color: white;
	border-radius: 7px!important;
	text-align: center;
	font-weight: bold;
	float: left;
	margin: 10px;
}

.click-select-conciergerie {
	display: inline-block;
	width: 45%;
	height: 200px;
}

.click-select-conciergerie .btn-slide-conciergerie {
	display: block;
	width: 100%;
	display: inline-block;
	height: auto!important;
}

.select-items-conciergerie {
	display: none;
}

.btn-slide-conciergerie:hover {
	background-color: #F5A623;
}

.select-item {
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-left: 10px;
	margin-top: 0px;
	padding: 10px 0px 10px 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	color: white;
}

.select-item:hover {
	background-color: #F5A623;
}

.select-item:nth-child(1) {
	border-radius: 7px 7px 0px 0px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.select-item:nth-child(2) {
	border-radius: 0px 0px 7px 7px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.f-right {
	float: right;
}

.rotate-click {
	margin-top: 3px;
}

/*Transition Orange*/
.transition-orange {
	width: 100%;
	height: 2px;
	background-color: white;
}

.transition-orange::before {
	content: " ";
	width: 40%;
	height: 7px;
	background-color: #F5A623;
	display: inline-block;
	transform: translateY(-13px);
}

.transition-white {
	height: 3px;
	width: 100%;
	background-color: white;
}

.transition-orange-center {
	height: 6px;
	width: 33%;
	background-color: #F5A623;
	margin: 0 auto;
	transform: translateY(-3px);
	position: relative;
	z-index: 1;
}

/*Check in / Check out*/
.checkinout {
	width: 100%;
	height: auto;
	background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
	background-attachment: fixed!important;
}

.btn-check {
	width: 50%;
	padding: 10px 0px 10px 0px;
	background-color: #F5A623;
	color: white;
	border-radius: 7px!important;
	text-align: center;
	display: block;
}

.btn-check:hover {
	background-color: #e99811;
}

/*Presta 1 sur conciergerie*/
.row-presta-img {
	background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.titre-text-presta::after {
	content: "";
	display: block;
	height: 5px;
	width: 52px;
	background-color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}

.text-gradient {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #313131;
	color: white;
}

.btn-presta-conciergerie {
	padding: 10px 20px 10px 20px;
	background-color: #F5A623;
	color: white;
	border-radius: 7px;
	display: inline-block;
}

.change-align-pair:nth-child(2n+1){
	flex-direction: row-reverse!important;
}
.change-align-pair:nth-child(2n){
	text-align: right;
}
.change-align-pair:nth-child(2n) .titre-text-presta::after{
	margin-left: calc(100% - 52px);
}
.change-align-pair:nth-child(2n) .text-gradient{
	background-color: #313131;
	color: white;
}
.change-align-pair:nth-child(2n+1) .text-gradient{
	background: linear-gradient(304.85deg, rgba(228,191,3,0.65) 0%, rgba(232,181,3,0.7) 14.79%, #FF7A00 100%);
	color: black;
}
.change-align-pair:last-of-type .text-gradient{
	background: #313131!important;
	color: white!important;
}
.change-align-pair:nth-child(2n+1) .btn-presta-conciergerie{
	border: 1px white solid;
}
.change-align-pair:last-of-type .btn-presta-conciergerie{
	border: none;
}
.change-align-pair:nth-child(2n) .titre-text-presta::after{
	background-color: #F5A623!important;
}
.change-align-pair:last-of-type .titre-text-presta::after{
	background-color: #F5A623!important;
}

.img-background-presta {
	background: url(assets/img/check-conciergerie-location-saisonniere-bordeaux.png);
	background-repeat: no-repeat;
	background-position: right;
}

/*packs conciergerie*/

.packs-conciergerie {
	margin-top: -6px;
	z-index: 0;
	background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.title-after::after {
	content: "";
	display: block;
	height: 3px;
	width: 52px;
	background-color: #F5A623;
	margin-top: 6px;
}

.title-after-white::after {
	content: "";
	display: block;
	height: 3px;
	width: 52px;
	background-color: white;
	margin-top: 6px;
}

.item-pack-container {
	margin-top: 30px;
	padding-right: 20px!important;
	height: auto;
}

.item-pack {
	border: 1px solid #F5A623;
}

.item-pack-white {
	border: 1px solid white;
}

.btn-packs {
	margin-left: 50%;
    transform: translateX(-50%);
	padding-left: 40px;
	padding-right: 40px;
}
/*************************/
/* Page proposer un bien */
/*************************/

/*Slide*/

.slide-proposer {
	min-height: 100vh;
	background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

/*Form*/
.proposer-form  input, textarea{
border: 1px solid #FFFFFF;
border-radius: 3px;
background-color: transparent;
margin-top: 5px;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .wpcf7-list-item-label {
  position: relative;
}
input[type="checkbox"] + .wpcf7-list-item-label:before {
  content: " ";
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 4px;
}
input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
  background-color: #F5A623;
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -ms-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
}

span.wpcf7-list-item {
    display: inline-block;
     margin: 20px 30px 20px 0;
}

.titre-contact-proposer::after {
	content: "";
	display: block;
	height: 3px;
	width: 52px;
	background-color: #F5A623;
	margin-top: 8px;
}

.proposer-form input[type="submit"] {
	padding: 10px 50px;
    border: none;
    background: #F5A623!important;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 50%;
	transform: translateX(-50%);
}

/*Prestation 1 */

.presta-title {
    padding: 25px;
    text-align: center;
    max-width: 100%;
}

/****/
.row.presta-1:nth-child(2n) .presta-B{
    background-image: -webkit-linear-gradient(326deg, rgba(228,191,3,0.65) 0%, rgba(232,181,3,0.70) 15%, rgba(237,168,2,0.77) 34%, rgba(239,163,2,0.79) 40%, #FF7A00 100%);
    background-image: -o-linear-gradient(326deg, rgba(228,191,3,0.65) 0%, rgba(232,181,3,0.70) 15%, rgba(237,168,2,0.77) 34%, rgba(239,163,2,0.79) 40%, #FF7A00 100%);
    background-image: linear-gradient(56deg, rgba(228,191,3,0.65) 0%, rgba(232,181,3,0.70) 15%, rgba(237,168,2,0.77) 34%, rgba(239,163,2,0.79) 40%, #FF7A00 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.row.presta-1:nth-child(2n) .presta-B .text-container{
    transform: translateX(-8px);
}
.row.presta-1:nth-child(2n) .presta-B .presta1-title{
    letter-spacing: 0.8px;
    font-weight: 600;
}
.row.presta-1:nth-child(2n) .presta-B .presta1-title:after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: #313131;
    display: block;
    margin-top: 15px;
}
.row.presta-1:nth-child(2n) .presta-B .presta1-subtitle{
    letter-spacing: 0.8px;
    font-weight: 600;
}
.row.presta-1:nth-child(2n) .presta-B .presta1-text{
    max-width: 350px;
}
.row.presta-1:nth-child(2n) .presta-B .presta1-link{
    display: inline-block;
    letter-spacing: 0.8px;
    padding: 10px 35px;
    border: solid 1px #313131;
    border-radius: 7px;
}


/********/
.row.presta-1 .presta-A{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.row.presta-1:nth-child(2n+1) .presta-B:before{
    content: '';
    width: 50%;
    height: 5px;
    background-color: #F6A623;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.row.presta-1:nth-child(2n+1) .presta-B{
    background: rgb(39,39,39); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(39,39,39,1) 1%, rgba(58,58,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(39,39,39,1) 1%,rgba(58,58,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(39,39,39,1) 1%,rgba(58,58,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-title{
    letter-spacing: 0.8px;
    font-weight: 600;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-title:after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: #F6A623;
    display: block;
    margin-top: 15px;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-subtitle{
    letter-spacing: 0.8px;
    font-weight: 600;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-text{
    max-width: 350px;
    color: white;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-link{
    display: inline-block;
    letter-spacing: 0.8px;
    padding: 10px 35px;
    border: solid 1px #FFF;
    border-radius: 7px;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-link a{
    color: white;
}
.row.presta-1:nth-child(2n+1){
    flex-direction: row-reverse!important;
}

.row.presta-1:nth-child(2n+1) .text-container{
    margin-left: auto;
}

.ligne_photo_texte:nth-child(2n+1){
    flex-direction: row-reverse!important;
}
.ligne_photo_texte:nth-child(2n+1) .text-container{
    margin-left: auto;
}
.row.presta-1:nth-child(2n+1) .presta-B .presta1-link:hover{
    color: white;
    background-color: #F6A623;
}
.row.presta-1:nth-child(2n) .presta-B .presta1-link:hover{
    color: white;
    background-color: #333;
    border: solid 1px #FFF;
}


/* Prestation 2 */
.descriptif{
	padding: 10%;
}
.presta-2>.slide img:hover{
	cursor: pointer;
}

.presta-slider>.slick-prev{
 	left: 5%!important;
 	}
.presta-slider>.slick-next{
	right: 5%!important;
 }
 /* Template slider*/
 .template_slider>button.slick-prev.slick-arrow{
 	left: 5%;
 }
 .template_slider>button.slick-next.slick-arrow{
 	right: 5%;
 }
/* Prestation 3 */
.presta-3:hover{
	cursor: pointer;
}
.close-p3 .fa{
	font-size: 18px;
}
.close-p3 .fa:hover{
    cursor: pointer;
}

/* Single */

span.nav-next.next-post a:hover{
    color: #444444;
}
span.nav-previous.previus-post a:hover{
    color: #444444;
}
.segment{
	color:#FFFFFF;
	height:4em;
	line-height:4em;
}
.segment span > span{
	color:#FFFFFF;
}
.gradient{
	background:#444; /* Old browsers */
	background:-moz-linear-gradient(left, #444 0%, #505050 100%); /* FF3.6-15 */
	background:-webkit-linear-gradient(left, #444 0%, #505050 100%); /* Chrome10-25,Safari5.1-6 */
	background:linear-gradient(to right,  #444 0%,#505050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#505050',GradientType=1 ); /* IE6-9 */
}
.features-section{
	margin:3em 0;
}
.page-actu{
	border-bottom: solid white 1px;
}
.single-post .blue-segment span {
	font-size: 1em;
	padding-left: 0;
}
.single-post-thumb {
    display: block;
    height: 90vh;

    background-size: cover;
    background-position: center;
}
.single-post-thumb:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90vh 0 0 110px;
    border-color: transparent transparent transparent white;
}
.wide-picture{
	background:center no-repeat;
	margin:0;
	padding: 0;
	width:100%;
	text-align:center;
	height:40vh;
	background-size:cover;
}
.actu-titles{
	width: 100%;
	background: rgba(0,0,0,.6);
	text-transform: uppercase;
}
.logo-actu{
	margin:0 auto;
}
.logo-actu img{
	width:15%;
}
.actu-title{
	color: white;
	font-size:1.5em;
	border-bottom:solid 1px white;
	border-top:solid 1px white;
	margin-left:20%;
	margin-right:20%;
}
.article-recent-single{
    transform: translateY(-30px);
}

.actu-title h3 {
	margin-top:10px;
	font-size:1.3em;
	font-weight:200;
	letter-spacing:.1em;
}
.actu-title .actu-subtitle {
	font-size:0.75em;
	font-weight:200;
	letter-spacing:1px;
	font-style:italic;
}
.actu-title .actu-subtitle em{
	font-weight:500;
	font-style:normal;
}
.headlines {
	width:100%;
	height:100%;
	background:rgba(9, 7, 31, 0.7);
	padding:50px;
	text-align:center;
}
.actu .headlines:hover {
	background:rgba(9, 7, 31, 0.9);
}
.headlines p{
	font-weight:400;
}
.actu{
	height:300px;
	list-style:none;
	color:white;
	border-bottom:none;
	background-repeat:no-repeat;
	background-position:center;
}
.actu h2{
	font-size:1em;
	text-transform: uppercase;
	text-align: center;
}
.actu h3{
	font-size:20px;
	border-top:solid 1px white;
	border-bottom:solid 1px white;
	height:4em;
	margin-top:0;
	text-transform:uppercase;
	text-align:center;
	padding-top:.7em;
	line-height:1em;
	font-weight:bold;
}
.tax{
	margin: 0;
}
.single-gallery {
	margin-bottom:2em;
}
.news{
	min-height:30vh;
	margin-top:0;
	margin-bottom:2em;
}
.social-network {
	background-color:transparent;
	border:none;
	float:right;
	padding:0.2em;
	border-radius:50%;
	width:26px;
	height:26px;
	vertical-align:middle;
	text-align:center;
	margin-left:.2em;
	margin-top:2em;
	margin-bottom:2em;
}
.social-network:hover{
	color:#FFFFFF;
    background-color: #f6a424;
}
.news p{
	margin-top:2em;
	margin-bottom:2em;
}
.related-cat{
	color:white;
	text-transform:capitalize;
}
.related-cat span i{
	color:#fff;
}
.related-cat span a{
	color:white;
	font-weight:200;
}
.cat-infos > ul > li{
	font-size:1.5em;
	list-style:none;
	text-transform:uppercase;
}
.cat-item{
	color:#444!important;
	margin:0.4em 0!important;
	float:left;
	display:block!important;
	cursor:pointer;
	width:100%;
	padding:0 1em!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
	font-weight:500;
	font-family:"Open Sans",sans-serif;
	text-transform:capitalize;
}
.cat-item:hover, .cat-item:hover > a{
	background-color:rgba(255, 255, 255, 0)!important;
	border-color:#444!important;
	color:#444!important;
	box-shadow: one!important;
}
.cat-item a{
	font-size:1.2em;
}
.related-cat span a:hover, .cat-item a:hover{
	color:#444;
}

.single3-img {
	height: 400px;
	width: 100%;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
	background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}
.post-template-default .recent-post-nav:hover{
    back
}
.single3-content p{
	text-align: justify;
	font-size: 15px;
}

.single3-content p:first-of-type::first-letter {
	font-size: 300%;
	font-weight: bold;
	float: left;
	line-height: 90%;
	margin-right: 10px;
}

.single3-title {
	font-size: 20px;
	margin-right: 10px;
}
.single3-titre-content {
	color: black;
	padding-bottom: 5px;
	width: 100%;
}

.single3-titre-content h3{
	margin: 0;
	margin-top: 10px;
}

.slider-title-content {
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 300px;
    color: white;
    height: 100%;
}

.slick-slide.slick-active .slider-title{
	transform: translateX(100px);
	opacity: 0;
	-webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.8s forwards;
    animation-delay: 0.5s;
}

.slick-slide.slick-active p{
	transform: translateX(100px);
	opacity: 0;
	-webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 0.7s;
    animation: slide 0.8s forwards;
    animation-delay: 0.7s;
}

.slick-slide.slick-active .btn_slider{
	transform: translateX(100px);
	opacity: 0;
	text-decoration: none;
	-webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 0.9s;
    animation: slide 0.8s forwards;
    animation-delay: 0.9s;
}

.slick-slide.slick-active .btn_slider a{
	color: white;
}


@-webkit-keyframes slide {
    100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slide {
    100% {
		 transform: translateX(0px);
		 opacity: 1;
	 }
}

.template_slider2>button.slick-next.slick-arrow {
    right: 5%;
}

.template_slider2>button.slick-prev.slick-arrow {
    left: 5%;
}

.slider-title{
	font-size: 50px;
}

.left-effect {
	height: auto;
	/*font-size: 50px;*/
}

.right-effect {
	height: auto;
	text-align: justify;
}

.info-article {
	font-size: 15px;
}

 /* Nav Links * Liens de navigation */

 h3.next-link, h3.prev-link {
	 font-family: "Times", serif;
	 font-weight: bold;
	 letter-spacing: .075em;
	 margin: 0;
	 text-align: center;
	 z-index: 1;
 }
 h3.next-link a > span, h3.prev-link a > span {
	 background: transparent;
	 padding: 0 0.6em;
	 color: white;
	 float: left;
	 z-index: -2;
	 font-size: 1em;
	 text-decoration: none;
	 line-height: 63px;
	 height: 63px;
	 display: inline-block;
 }
 span.target{
	 font-family: "Helvetica Neue", sans-serif;
	 font-weight: normal;
	 position: relative;
	 text-transform: uppercase;
	 color: #000;
 }
 h3.next-link a:hover > span.target{
	 right: 0 !important;
	 background: #5c5c5c;
 }
 h3.prev-link a:hover > span.target{
	 left: 0 !important;
	 background: #5c5c5c;
 }
 h3.next-link a:hover > span, h3.prev-link a:hover > span{
	 text-decoration: none;
	 transform: translateX(0);
 }
 span.pointing-angle.next {
	 margin: 0!important;
	 position: relative;
	 float: right;
	 padding: 0 0.6em;
	 text-align: center;
	 background: #444;
	 transform: translateX(0);
	 font-size: 1em;
	 z-index: 1;
	 line-height: 63px;
 }
 span.pointing-angle.prev {
	 margin: 0!important;
	 position: relative;
	 float: left;
	 padding: 0 0.6em;
	 text-align: center;
	 background: #444;
	 transform: translateX(0);
	 font-size: 1em;
	 z-index: 1;
	 line-height: 63px;
 }
 h3.prev-link span.num, h3.next-link span.num{
	 font-size: 1.5em;
 }
 .prev-link, .next-link{
	 position: fixed;
	 top: 50%;
 }
 .prev-link{
	 left: 0;
 }
 .next-link{
	 right: 0;
 }

/* Contact Full Width*/

#map{
	width:100%;
	height:500px;
}
/* Contact1 */
.contact1 > #map{
    height: 100vh;
}
.contact1 input.wpcf7-form-control.wpcf7-submit{
    width: 100%;
}
.contact1 textarea.wpcf7-form-control.wpcf7-textarea{
    width: 100%;
}
.contact1 input.wpcf7-form-control.wpcf7-text{
    width: 100%;
}
/*Conatct2 */
.contact2 > #map{
    height: 400px;
}
.form-contact2{
    position: absolute;
    top: 20%;
    background-color: white;
    -moz-box-shadow: 0px 2px 7px 2px #9b9b9b;
    -webkit-box-shadow: 0px 2px 7px 2px #9b9b9b;
    -o-box-shadow: 0px 2px 7px 2px #9b9b9b;
    box-shadow: 0px 2px 7px 2px #9b9b9b;
}
.form-contact2 form{
    width: 90%;
    margin-left: 5%;
}
.form-contact2 input.wpcf7-form-control.wpcf7-submit{
    width: 100%;
}
.form-contact2 textarea.wpcf7-form-control.wpcf7-textarea{
    width: 100%;
    height: 150px;
}
.form-contact2 input.wpcf7-form-control.wpcf7-text{
    width: 100%;
    height: 35px;
}
.form-contact2 > #rs > a.social-network{
    margin-right: 5%;
    margin-top: 0px;
}

/* Contact 4 */
.contact4 > #map{
    height: 350px;
}
.mail-contact4{
    color: white;
    background-color: #2d2d2d;
}
.form-contact4{
    background-color: rgba(0,0,0,0.10);
}
.form-contact4 h1{
    margin-left: 10%;
}
.form-contact4 form{
    width: 80%;
    margin-left: 10%;
}
.form-contact4 input.wpcf7-form-control.wpcf7-submit{
    width: 100%;
    color: white;
    background-color: #2d2d2d;
}
.form-contact4 textarea.wpcf7-form-control.wpcf7-textarea{
    width: 100%;
    height: 150px;
    background: none;
    border: none;
    border-bottom: 1px solid #2d2d2d;
}
.form-contact4 input.wpcf7-form-control.wpcf7-text{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid #2d2d2d;
}
/* Contact 5 */
.contact5-0{
    color: white;
    background-color: #2d2d2d;
}
.contact5-1{
    background-color: rgba(0,0,0,0.1);
    padding: 40px;
    font-size: 30px;
}
.contact5-1 span{
    border-right: solid 1px #2d2d2d;
    padding-right: 30px;
}
.contact5-2{
    background-color: #2d2d2d;
    padding: 30px;
    color: #777777;
    font-size: 26px;
    border-top: solid 1px;

}
.contact5-3 #map{
    height: 350px;
}
.contact5-4{
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    color: #777777;


}
.contact5-5{
    background-color: #2d2d2d;
}

.form-contact5 h1{
    margin-left: 10%;
}
.form-contact5 h3{
    font-size: 26px;
    color: #777777;
}
.form-contact5 form{
    width: 80%;
    margin-left: 10%;
    color: white;
}
.form-contact5 input.wpcf7-form-control.wpcf7-submit{
    width: 100%;
    background-color: rgb(207, 207, 207);
    color: #2d2d2d;
}
.form-contact5 textarea.wpcf7-form-control.wpcf7-textarea{
    width: 100%;
    height: 100px;
    background: none;
    border: none;
    border-bottom: 1px solid;
}
.form-contact5 input.wpcf7-form-control.wpcf7-text{
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid;
}

/*------------------------------------*\
	TIME LINE
\*------------------------------------*/
.inline {display: inline-block;}

.slidetime {
	width: 100%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
}

.slidetime2 {
    height: 50vh;
    box-sizing: border-box;
}

.opacity5 {
	opacity: 0.5;
}

.slidetime2 img {
    height: 100px;
    float: left;
    box-sizing: border-box;
}

/*POUR MODIFIER LE CONTAINER DES JOURS PLEINS*/
.jourtime {
	 text-align: center;
	 display: inline-block;
	 float: left;

}
/*POUR MODIFIER LE STYLE DE CHAQUE JOUR EN AFFICHAGE JOUR/JOUR*/
.eventjourtime {
	text-align: left;
	display: block;
}

.b-t-date {
	border-top: 1px black solid;
}

/*POUR MODIFIER LE STYLE DE CHAQUE JOUR VIDE EN AFFICHAGE JOUR/JOUR*/
.jourtimenone {
	width: auto;
	height: auto;
	display: inline-block;
	background-color: #a3a3a3;
	color: red;
	text-align: center;
	float: left;
}

.btnzoom {
	display: inline-block;
	height: auto;
	width: auto;
	padding: 5px 10px 5px 10px;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 20px;
	cursor: pointer;
}

/*POUR MODIFIER LE STYLE DE CHAQUE SEMAINE*/
.septjours {
	/*width: 200px;
	height: auto;*/
	display: inline-block;
	border-left: 1px solid red;
	width: 200px;
	float: left;
	min-height: 50vh;
}

/*POUR MODIFIER LE STYLE DE CHAQUE MOIS*/
.unmois {
	display: inline-block;
	border-left: 1px solid blue;
	width: 200px;
	float: left;
	min-height: 50vh;
}

/*POUR MODIFIER LE STYLE DE CHAQUE JOUR VIDE DANS UNE SEMAINE*/
.septjours .jourtimenone {
	display: none;
	width: 100%;
}

/*POUR MODIFIER LE STYLE DE CHAQUE JOUR VIDE DANS UN MOIS*/
.unmois .jourtimenone {
	display: none;
	width: 100%;
}

.uneannees {
	display: inline-block;
	border-left: 1px solid green;
	width: 200px;
	float: left;
	min-height: 50vh;
}

.uneannees .jourtimenone {
	display: none;
	width: 100%;
}

.tl-media-content-container {
	width: 333px;
}

.tl-timemarker-media-container {
	width: 10px!important;
	height: 10px!important;
	border-radius: 10px;
	background-color: #68C490!important;
}

[id^="tweet"] .tl-timemarker-media-container {
	width: 10px!important;
	height: 10px!important;
	border-radius: 10px;
	background-color: #1DA1F2!important;
}

.tl-icon-image:after {
    content: ""!important;
}

.tl-timemarker .tl-timemarker-content-container {
    position: absolute;
    background-color: transparent;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 0px;
	overflow: inherit!important;
	z-index: 8!important;
}

.tl-timemarker .tl-timemarker-content-container:hover {
    background-color: rgb(241, 241, 241);
	/*border: 1px solid black;*/
	z-index: 999;
}

.tl-timemarker .tl-timemarker-line-left:after, .tl-timemarker .tl-timemarker-line-right:after {
	display: none;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background-color: rgb(241, 241, 241)!important;
    color: #68C490!important;
    z-index: 9;
    border-color: rgba(255, 255, 255, 0)!important;
    box-shadow: none!important;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick:before {
	display: none;
}

.tl-timeaxis {
	z-index: 102;
}

.tl-timeaxis-background {
	z-index: 101;
}

h2.tl-headline {
    color: black!important;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
	margin-left: -10px!important;
}
/*------------------------------------*\
	FIN TIME LINE
\*------------------------------------*/


/*------------------------------------*\
	TIME LINE 2
\*------------------------------------*/

.tl-text-content {
	width: 88%!important;
}

.tl-headline-date {
	font-size: 23px!important;
	color: black!important;
	font-weight: bold!important;
	position: absolute;
	top: 80%;
	left: 0%;
}

.tl-media .tl-media-content-container .tl-media-content embed, .tl-media .tl-media-content-container .tl-media-content img, .tl-media .tl-media-content-container .tl-media-content object, .tl-media .tl-media-content-container .tl-media-content video {
	z-index: 0;
}

.tl-timenav .tl-timenav-slider {
	background-color: white;
}

.tl-timenav {
	border-top: 0px!important;
}

.tl-slide .tl-slide-content-container .tl-slide-content .tl-media {
     position: relative;
     width: auto;;
     min-width: auto;
     float: left;
     margin-top: auto;
     margin-bottom: auto;
}

.tl-text {
	float: left;
	padding-left: 30px!important;
	padding-top: 50px!important;
}

.tl-media {
     width: auto;
     min-width: auto;
     height: auto;
    float: left;
     margin-top: auto;
     margin-bottom: auto;
     position: relative;
}

.view-article {
	padding: 5px 15px 5px 15px;
	border-radius: 20px;
	border: 1px solid black;
	display: table;
	text-decoration: none!important;
	margin-top: 20px;
}

/*------------------------------------*\
	FIN TIME LINE 2
\*------------------------------------*/


/*------------------------------------*\
	FIL D'ARIANE
\*------------------------------------*/

/* Breadcrumbs */
.fil-dariane {
	width: 100%;
    background-repeat: no-repeat!important;
	background-size: cover!important;
}

.fil-dariane h1{
	font-weight: 600;
}
.fil-dariane h1:after{
    content: "";
    width: 150px;
    height: 5px;
    background-color: #f6a424;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

p#breadcrumbs {
	font-size: 20px;
	margin-left: auto;
	margin-bottom: 0;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.home #breadcrumbs {
	display: none;
}

/*------------------------------------*\
	ARTICLE
\*------------------------------------*/
article img{
	width: 100%;
}

article .img-background {
	height: 200px;
	width: 100%;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
	background-repeat: no-repeat;
  background-position: center;
}

article span.category {
	font-style: italic;
}
.pagi a {
	padding: 3px;
	text-align: center;
	width: 100%;
	font-size: 15px;
}
.titre-mosaique {
	font-size: 40px;
}
.titre-content {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 20px;
}
.readmore-none {
	margin-top: 16px;
	opacity: 0;
}
article:hover .titre-content .fa {
	transform: translateX(10px);
}
article:hover .readmore-none {
	opacity: 1;
}
.titre-content a {
	color: white;
}
.align-end {
	align-items: flex-end;
}
.social {
	margin-top: 10px;
	font-size: 20px;
}
.cat-mosaique {
	font-style: italic;
}

/*------------------------------------*\
	CHECK BROWSER
\*------------------------------------*/

#checkBrowser {
	position:fixed;
	width:100%;
	background: rgb(39, 38, 54);
	padding:1em;
	bottom: 0;
	left: 0;
	color: #FFF;
	z-index: 9999999;
	height: auto;
	text-align : center;
}

#checkBrowser.browserOk.browserOld,#checkBrowser.browserOk { display:none; }
.browserOld { display:block; }
#checkBrowser #message { padding: 1em; }
#checkBrowser #message a { color:#EA5B0C; }

/*------------------------------------*\
	COOKIES
\*------------------------------------*/

#cookie {
	position: fixed;
	width: 40%;
	padding: 1em;
	background: #444;
    bottom: 15;
    z-index: 999;
    left: 15;
    color: #FFF;
    text-align: left;
    border-top: 4px solid #FFF;
    opacity: 1;
}
#cookie button{
	color: #444;
}
#msgCookie {
	display: inline-block;
	float: left;
	height: 50px;
}
#cookie button {
	margin: 0;
}
#cookieOk button {
	margin-top: 5px;
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    padding: .5em 1em;
}
#cookieOk button:hover {
    background: #fff;
    color: #444;
    border: 1px solid #FFF;
    padding: .5em 1em;
}
/*------------------------------------*\
    COMMENTS
\*------------------------------------*/
.comments {
}
.comments ul { list-style:none; }
/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

.open{font-family: 'Open Sans', sans-serif;}
.spectral{font-family: 'Spectral', serif;}
.butler {font-family: 'butler';}

@font-face {
	font-family:'FontAwesome';
	src:url('assets/fonts/fontawesome-webfont.eot');
	src:url('assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/fontawesome-webfont.woff') format('woff'),
		url('assets/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('assets/fonts/fontawesome-webfont.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'butler';
    src: url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.eot');
    src: url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.woff2') format('woff2'),
         url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.woff') format('woff'),
         url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.ttf') format('truetype'),
         url('/cbienpourvous/wp-content/themes/starterTheme/assets/fonts/butler_regular-webfont.svg#butlerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}*/

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

/*@media only screen and (max-width:1280px) {
}*/


@media only screen and (max-width:960px) {
	.news-container {
    	border-right: 0px;
	}
	.container-lien-btn {
		width: 100%;
	}
	.btn-slide-conciergerie {
		width: 100%;
	}
	.click-select-conciergerie {
		width: 100%;
	}
	.slide-conciergerie {
	    padding-bottom: 200px;

	}
	.fs-72 {
	    font-size: 60px!important;
	}
	.transition-white {
		display: none;
	}
	.text-container-left {
		width: 100%!important;
	}
}
 @media only screen and (min-width: 769px)  {
 	.presta-slider>.slick-prev{
 		left: calc((100% / 2) - (15px / 2))!important;
 		top: 5%!important;
 		transform: rotate(90deg)!important;
 		width: 30px!important;
 	}
 	.presta-slider>.slick-next{
 		left: calc((100% / 2) - (15px / 2))!important;
 		top: 95%!important;
 		transform: rotate(90deg)!important;
 		width: 30px!important;
 	}
 }

@media only screen and (max-width:767px) {
    /** PAGE HOME **/
    .slider-title-content{
        padding-top: 20px;
        padding-bottom: 130px;
        padding-left: 15px!important;
    }
    .slider-title-content h1{
        font-size: 30px!important;
    }
    .page-template-template-home .slider-title-content p{
        font-size: 18px!important;
    }
    .slider-title-content a{
        font-size: 18px!important;
    }
    .page-template-template-home .slider-title-content a span{
        margin-left: 15px;
    }
    .home-services{
        border-top: solid 2px #FFF;
    }
    .home-links{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home2-right{
        transform: translateY(-5px);
    }
    .home2-right .text-container{
        padding-left: 0px!important;
        text-align: -webkit-center;
    }
    .home4-left{
        text-align: -webkit-center;
    }
    .home4-mask{
        background-size: contain;
    }
    .home5-actus{
        margin-bottom: 15px;
    }
    .home5{
        transform: translateY(-5px);
        padding-bottom: 30px;
    }
    /*************************/
	.large-menu{
		display:none;
	}
	.text-container{
		width: auto!important;
	}
	.no-flex{
		display: block!important;
	}
    .text-container7-left{
        width: auto!important;
    }
}


/*@media only screen and (max-width:640px) {
}*/

@media only screen and (max-width:480px) {
    .slider-title-content a{
        font-size: 15px!important;
    }
}

/*@media only screen and (max-width:320px) {
}*/

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {
}
.bypostauthor {
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/*------------------------------------*\
    ANIM
\*------------------------------------*/
.animation-fade-up-delay {
	animation: animation-fade-up-delay ease-out 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	-webkit-animation: animation-fade-up-delay ease-out 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: animation-fade-up-delay ease-out 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-moz-animation-fill-mode: forwards;
	-o-animation: animation-fade-up-delay ease-out 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-o-animation-fill-mode: forwards;
	-ms-animation: animation-fade-up-delay ease-out 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	-ms-animation-fill-mode: forwards;
	-webkit-animation-delay: 1000ms;
	-moz-animation-delay: 1000ms;
	-ms-animation-delay: 1000ms;
	-o-animation-delay: 1000ms;
	animation-delay: 1000ms;
}

.animation-fade-up{
  animation: animation-fade-up ease-out 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animation-fade-up ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animation-fade-up ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animation-fade-up ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animation-fade-up ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-up{
  0% {
    opacity:0;
    transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animation-fade-up{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animation-fade-up {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animation-fade-up {
  0% {
    opacity:0;
    -o-transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animation-fade-up {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
.animation-fade-out{
  animation: animation-fade-out ease-out 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animation-fade-out ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animation-fade-out ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animation-fade-out ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animation-fade-out ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-out{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(0px,-20px)  ;
  }
}

@-moz-keyframes animation-fade-out{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -moz-transform:  translate(0px,-20px)  ;
  }
}

@-webkit-keyframes animation-fade-out {
  0% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -webkit-transform:  translate(0px,-20px)  ;
  }
}

@-o-keyframes animation-fade-out {
  0% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -o-transform:  translate(0px,-20px) ;
  }
}

@-ms-keyframes animation-fade-out {
  0% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -ms-transform:  translate(0px,-20px) ;
  }
}
.animation-fade-down{
  animation: animation-fade-down ease-out 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animation-fade-down ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animation-fade-down ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animation-fade-down ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animation-fade-down ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animation-fade-down{
  0% {
    opacity:0;
    transform:  translate(0px,-20px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animation-fade-down{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-20px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animation-fade-down {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-20px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animation-fade-down {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-20px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animation-fade-down {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-20px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

.control-prev {
	font-size: 40px;
    z-index: 1;
    position: absolute;
    display: block;
	top: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: white;
	left: 3%;
}

.control-next {
	font-size: 40px;
    z-index: 1;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: white;
	right: 3%;
}

/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/
